.app {
  text-align: center;
}

.scores {
  margin-bottom: 20px;
}

.grid {
  display: inline-block;
  margin: 0 auto;
}

.row {
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  margin: 10px;
}

.line {
  width: 60px;
  height: 20px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.line.horizontal {
  width: 60px;
  height: 10px;
}

.line.vertical {
  width: 10px;
  height: 60px;
}

.line:hover {
  background-color: gray;
}

.box {
  width: 60px;
  height: 60px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.box.player1 {
  background-color: red;
}

.box.player2 {
  background-color: blue;
}
